PORT=5000
# Laisser vide ou USE_JSON_DB=true pour utiliser server/data/db.json (données fictives)
USE_JSON_DB=true
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/cabrel-decor
JWT_SECRET=votre_secret_jwt_tres_long
ADMIN_PASSWORD=motdepasse_admin_securise

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

WHATSAPP_NUMBER=237XXXXXXXXX
CONTACT_EMAIL=contact@cabreldecor.com
FACEBOOK_PAGE_ID=cabreldecor
